        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(17, 14, 14);
            min-height: 100vh;
        }
        
        .Loader {
            position: relative;
            height: 150px;
            width: 150px;
        }
        
        .Loader span {
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }
        
        .Loader span:nth-child(1) {
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(10px);
            border-top: 0.25px solid rgba(255, 255, 255, 0.1);
            border-left: 0.25px solid rgba(255, 255, 255, 0.1);
            z-index: 2;
        }
        
        .Loader span:nth-child(2) {
            background: #006400;
            /* animation: name duration timing-function delay iteration-count direction fill-mode; */
            animation: animate 4s ease-in-out infinite;
        }
        
        .Loader span:nth-child(3) {
            background: rgb(253, 253, 253);
            /* animation: name duration timing-function delay iteration-count direction fill-mode; */
            animation: animate 4s ease-in-out infinite;
            animation-delay: 2s;
            border-radius: 0;
        }
        
        @keyframes animate {
            0% {
                transform: translate(-150px, 50px) scale(0.4) rotate(0deg);
                z-index: 1;
            }
            50% {
                transform: translate(150px, -50px) scale(0.4) rotate(180deg);
                z-index: 1;
            }
            50.111% {
                transform: translate(150px, -50px) scale(0.4) rotate(180deg);
                z-index: 3;
            }
            100% {
                transform: translate(-150px, 50px) scale(0.4) rotate(360deg);
                z-index: 3;
            }
        }